<!DOCTYPE html>

<html>
<body>
<body bgcolor=#3cb371>
<h1>  <center> <font color="blue">  Signed In Successfully, You are insider now  </h1>
<div>
 
    <center> <img src="pic1.jpeg" alt="buildtogether"> </center> 
  


</div>

<h2><center> <font color=#ff0000>   Client info</h2>

<p> <center>  <font color=#ff0000> welcome home</p>

</body>
</html>