<!DOCTYPE html>
<html>
<head>
<meta name="loginpage" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>


<h2> <center> <font color="blue">  Login Page</h2>

<div style="display:block; width:100%;">
  <div style="width:40%; float: left; display: inline-block;">
  <div class="container">
<form action="/login" method="post">
<label for="usermail">Email</label>
<input type="text" placeholder="Enter User Email-id" name="email" required>
<label for="userpwd">Password</label>
<input type="password" placeholder="Enter Password" name="password" required>
<button type="submit">Login</button>
</form>
</div>

<div class="container" style="background-color:#f1f1f1">
<form action="/signup" method="get">
<button type="submit">
    Do not have an account, click here to create your account.
</button>
</form>
</div>

  </div>
  <div style="width:60%; float: left; display: inline-block;">
  <div>
 
    <center> <img src="buildtogether.png" alt="buildtogether"> </center> 

	
</div>

  
  </div>
</div>



</body>
</html>